<html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>Bookings Bot</title>
        </head>
        <body>
        <h1>Ticket Availability Bot</h1><br>
        <h2>Fill in the following details</h2>
        <form action="/submitForm" id="userInput" method="post">
            Username:<br>
            <input type="text" name="uname"><span style="color:red"> User already exists</span><br>
            Movie Name [Exactly as in website]:<br>
            <input type="text" name="mname"><span style="color:red"> Movie name should only be alphanumeric a-z/A-Z/0-9</span><br>
            Date [yyyy-mm-dd]:<br>
            <input type="text" name="date"><span style="color:red"> Incorrect date format</span><br>
            Theater link [copy url from TicketNew]:<br>
            <input type="text" name="link"><span style="color:red"> Invalid Link</span><br>
            Email [To get notifications]:<br>
            <input type="text" name="email"><span style="color:red"> Invalid mail format</span><br>
            Frequency [in minutes minimum 10]:<br>
            <input type="text" name="freq"><span style="color:red"> Frequency should be a number greater than 10</span><br><br>
            <input type="submit" id="pass">
        </form>
        </body>
        </html>