<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings Bot</title>
</head>
<body>
    <h1>Ticket Availability Bot</h1><br>
    <h2>Fill in the following details</h2>
    <form action="/submitForm" id="userInput" method="post">
        Username:<br>
        <input type="text" name="uname"><br>
        Movie Name [Exactly as in website]:<br>
        <input type="text" name="mname"><br>
        Date [yyyy-mm-dd]:<br>
        <input type="text" name="date"><br>
        Theater link:<br>
        <input type="text" name="link"><br>
        Email [To get notifications]:<br>
        <input type="text" name="email"><br>
        Frequency [in minutes minimum 10]:<br>
        <input type="text" name="freq"><br><br>
        <input type="submit" id="pass">
    </form>
</body>
</html>